<div class="container" style="margin-left:10%">
  <h1>
    Dashboard  
    <button class="btn btn-primary" (click)="newProject()" style="margin-left:500px">Add Project</button>
  </h1>
  <br/>
  <hr>
  <div class="row" style="padding:10px; margin-left:20px" align="center">
      <fusioncharts
      [id]="id"
      [width]="width"
      [height]="height"
      [type]="type_bar"
      [dataFormat]="dataFormat"
      [dataSource]="dataSource"
  ></fusioncharts>
  </div>
  <hr>
    <div class="row">
      <div *ngFor="let proj of dashboard" style="padding:10px;">
        <div class="card" style="width: 20rem;">
          <div class="card-block" style="padding:10px; text-align: left">
            <h4 class="card-title">{{proj.project_name}}  {{proj.id}}</h4>
            <p class="card-text">{{proj.project_desc}}</p>
            <button class="btn btn-primary" (click) = "selectedProject(proj)">Dive In</button>
          </div>
        </div>
        <br/>
      </div>
    </div>
</div>