<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="logo">
          <h1>
            <a [routerLink]="['/login']" class="btn btn-link">JTeam Panel</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="app-container">
  <div class="page-content">
    <div class="row">
       
      <div class="col-md-2" *ngIf="_router.url !== '/login' && _router.url !== '/dashboard' && _router.url !== '/member_dashboard' 
          && _router.url !== '/member_tasks' && _router.url !== '/'">

        <div class="sidebar content-box" style="display: block;">
          <ul class="nav">

            <li>
              <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="glyphicon glyphicon-phone"></i> Dashboard </a>
            </li>
            <li>
              <a routerLink="/view_tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="glyphicon glyphicon-phone"></i> Task Manager </a>
            </li>
            <li>
              <a routerLink="/manage_team" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="glyphicon glyphicon-phone"></i> Manage my Team </a>
            </li>
            <li>
              <a routerLink="/statistics" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="glyphicon glyphicon-phone"></i> Statistics </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 " *ngIf="_router.url === '/login' || _router.url === '**'"></div>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>