<div class="container">
  <h1>Task Manager {{project.id}} </h1>

  <hr>
  <!--<a class="btn btn-success" href="/add_task" (click)="newTask()">Add Task</a>-->
  <button class="btn btn-primary" (click)="newTask()">Add Task</button>
  <button (click)="logOut()" class="btn btn-danger" style="margin-left:200px">Logout</button>
  <br>
  <br>
  <div *ngIf="msg; else elseBlock">
    <h2>No Tasks Added In This Project!</h2>
  </div>
  <ng-template #elseBlock>
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Task</th>
        <th>Date Assigned</th>
        <th>Priority</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Operations</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td *ngIf="task && task.id">{{task.id}}</td>
          <td *ngIf="task && task.task_name">{{task.task_name}}</td>
          <td *ngIf="task && task.task_assigned_date">{{task.task_assigned_date | date:"MM/dd/yyyy"}}</td>
          <td *ngIf="task && task.task_priority">{{task.task_priority}}</td>
          <td *ngIf="task && task.task_deadline">{{task.task_deadline | date:"MM/dd/yyyy"}}</td>
          <td *ngIf="task && task.task_status">{{task.task_status}}</td>
          <td *ngIf="task">
            <button class="btn btn-primary" (click)="viewMembers(task)">View</button>
          </td>
          <td *ngIf="task">
            <button class="btn btn-primary" (click)="updateTask(task)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </ng-template>
</div>